/* html {
    font-size: 60px;
    text-align: center;
} */

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: blue;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: burlywood;
    padding: 0 20px 20px 20px
}

h1 {
    text-align: center;
    color: blue;
    /* text-shadow: 3px 3px 1px bisque; */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}